header {
  .header_top {
    .end {
      margin-left: 60px;
    }
  }
  .header_buttom {
    padding: 0;
    .hamberger {
      width: 89%;
      right: 12%;
      svg {
        display: none;
      }
      nav {
        width: 100%;
        height: auto;
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        border: none;
        align-items: center;
        gap: 10px;
        position: unset;
        div {
          height: fit-content;
          width: fit-content;
          padding: 30px 0;
          transition: 300ms;
          border-bottom: none;
          a {
            padding: 9px 5px;
          }
          .submenu {
            top: 100%;
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            width: 14vw;
            background-color: white;
            div {
              a {
                width: fit-content;
                line-height: 40px;
                color: gray;
                &:hover {
                  background-color: white;
                  color: rgb(2, 76, 161);
                }
              }
            }
          }
          &:hover .submenu {
            display: flex;
          }
        }
      }
    }
    .img {
      width: 11%;
      left: 88%;
    }
  }
}
